body{
    font-family: 'Arvo', serif;
    background-color: #f5f5f5;
    font-size: 16px;
}
@media screen and (max-width: 1070){
    body{
        font-size: 16px;
    }
}
@media screen and (max-width: 770px){
    body{
        font-size: 12px;
    }
}

table {
    width: 50%;
    margin-left: 420px;
	border-collapse: collapse;
    border: 1px black solid;
}

@media screen and (max-width: 1070px){
    table {
        margin-left: 220px;        
    }
}
@media screen and (max-width: 770px){
    table {
        margin-left: 120px;
    }
}

@media screen and (max-width: 550px){
    table {
        margin-left: 70px;
        width: 70%;
    }
}


table td {
	padding: 10px;
    width: 50%;
    color: darkblue;
    border: 1px solid black;
}
table tr {
	background-color: white;
}

.upper-container{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px #f8f8f8 solid;
    background: #fcfcfc;
    text-align: center;
    width: 50%;
    margin-left: 420px;
    box-shadow: 0 2px 4px #ccc;
}

@media screen and (max-width: 1070px){
    .upper-container{
        margin-left: 220px;        
    }
}
@media screen and (max-width: 770px){
    .upper-container{
        margin-left: 120px;
    }
}

@media screen and (max-width: 550px){
    .upper-container{
        margin-left: 70px;
        width: 70%;
    }
}

.below-container{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    width: 50%;
    margin-left: 420px;
}


@media screen and (max-width: 1070px){
    .below-container{
        margin-left: 220px;        
    }
}
@media screen and (max-width: 770px){
    .below-container{
        margin-left: 120px;
    }
}

@media screen and (max-width: 550px){
    .below-container{
        margin-left: 70px;
        width: 70%;
    }
}

.below-container-heading{
    margin-top: 30px;
    text-align: left;
    width: 50%;
    margin-left: 420px;
}

@media screen and (max-width: 1070px){
    .below-container-heading{
        margin-left: 220px;        
    }
}
@media screen and (max-width: 770px){
    .below-container-heading{
        margin-left: 120px;
    }
}

@media screen and (max-width: 550px){
    .below-container-heading{
        margin-left: 70px;
        width: 70%;
    }
}


.flex-box-container{    
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.flex-box-items{
    margin-bottom: 40px;
    text-align: center;
    height: 150px;
    width: 25%;
}

@media screen and (max-width: 1070px){
    .flex-box-items{
        height: 200px;
        width: 35%;
    }
}
@media screen and (max-width: 770px){
    .flex-box-items{
        height: 150px;
        width: 35%;
    }
}

@media screen and (max-width: 550px){
    .flex-box-items{
        height: 300px;
        width: 35%;
    }
}


.footer-class{
	width: 100%;
    height: 40px;
	background-color: white;
	color: #0186da;
    border-top:3px #0186da solid;
	text-align: center;
}
.longUrl-button-class{
    background-color: #0186da;
    font-family: 'Arvo', serif;
    border: #0186da;
    color: white;
    padding: 18px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1070px){
    .longUrl-button-class{
        background-color: #0186da;
        font-family: 'Arvo', serif;
        border: #0186da;
        color: white;
        padding: 14px 24px;
        text-align: center;
        font-size: 12px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }
}


@media screen and (max-width: 770px){
    .longUrl-button-class{
        background-color: #0186da;
        font-family: 'Arvo', serif;
        border: #0186da;
        color: white;
        padding: 10px 18px;
        text-align: center;
        font-size: 10px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }
}


input[type="text"]{
    font-size:16px;
    font-family: 'Arvo', serif;
}

input[type=text]:focus {
    border: 2px solid blue;
}

a:link {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}    

.URL-heading{
    font-size: 24px;
    font-weight: bold;
    color: #303030;
    text-shadow: 0 2px 2px #ddd;
    text-align: center;
}

.header-section-class {
    overflow: hidden;
    background-color: #f5f5f5;;
    text-align: left;
    margin-left: 420px;
}

.header-section-class a {
    float: left;
    font-size: 42px;
    font-weight: bold;
    color: #0186da;
    padding: 24px 24px;
}

@media screen and (max-width: 1070px){
    .header-section-class {
        margin-left: 220px;        
    }

    .header-section-class a {
        font-size: 36px;
    }

}
@media screen and (max-width: 770px){
    .header-section-class {
        margin-left: 120px;
    }

    .header-section-class a {
        font-size: 32px;
    }
}

@media screen and (max-width: 550px){
    .header-section-class {
        margin-left: 70px;
    }

    .header-section-class a {
        font-size: 32px;
    }
}

.longUrl-input-class{
    height: 50px;
    width: 500px;
}

@media screen and (max-width: 1070px){
    .longUrl-input-class{
        height: 40px;
        width: 350px;
    }
}

@media screen and (max-width: 770px){
    .longUrl-input-class{
        height: 30px;
        width: 250px;
    }
}

@media screen and (max-width: 550px){
    .longUrl-input-class{
        height: 30px;
        width: 180px;
    }
}